@using System.Globalization
@using DLDK_Forum.Models
@using DLDK_Forum.Models.Function
@model IEnumerable<DLDK_Forum.Models.BaiViet>
@{
    Layout = null;
    //string id;
    //if ((string)ViewBag["id"] != null)
    //{
    //     id = (string)ViewBag["id"];
    //}
    //else
    //{
    //    id = "CD"           
    //}

}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/Content/css/list_post.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/fontawesome-free-5.14.0-web/css/all.css">
    <title>DLDK TRIP | Chủ đề</title>
    @*<link rel="stylesheet" href="~/Content/css/Layout.css">*@
</head>
<body>
    @Html.Partial("~/Views/Shared/header.cshtml")
    <div class="content">
        <div class="container">
            <div class="main">
                <!-- <div class="col-1"></div> -->
                <div class="col-2">
                    @Html.Action("post", "Post")
                </div>
                <div class="col-3">
                    @Html.Action("TableOfContents", "Post")
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/footer.cshtml")
<script @*src="~/Content/js/single_blog.js"*@>


    @*function ngu(id) {
        var classA = document.getElementsByClassName("TC");
        for (var item of classA) {
            item.style.color = "black";
        }
        document.getElementById(id).style.color = "red";
    }
    ngu('@id');*@
</script>

</body>

</html>