* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.main {
    width: 100%;
    height: 1100px;
    position: relative;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.header-container {
    max-width: 1300px;
    margin: auto;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    /* background: #27c0c0; */
    /* 27c0c0 */
}

header .container {
    background: rgb(108, 236, 209);
    padding: 10px;
    display: block;
}

header #logo {
    position: relative;
    width: 100px;
}

.nav ul {
    list-style-type: none;
    display: block;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .nav ul li {
        display: inline-block;
        padding: 10px 20px;
    }

        .nav ul li a {
            text-decoration: none;
            color: #fff;
        }

        .nav ul li:hover {
            background: #fff;
        }

            .nav ul li:hover a {
                color: #000;
            }

.container1 {
    max-width: 1300px;
    /* height: 100%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

    .container1 h1 {
        font-size: 80px;
        /* font-weight: bold; */
        /* font-weight: 900!important; */
        margin-bottom: 40px;
        text-align: center;
    }

    .container1 p {
        font-size: 20px;
        text-align: center;
        color: #555;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container1 ul {
        list-style-type: none;
        width: 700px;
        /* margin: auto; */
        /* display: flex; */
        /* flex-direction: column;
    justify-content: center; */
    }

        .container1 ul li {
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
            margin-bottom: 20px;
        }

input {
    padding: 10px 15px 5px 15px;
    width: 700px;
    border: none;
    border-bottom: 2px solid rgb(0, 137, 250);
    /* border-radius: 20px; */
}

    input:focus,
    input:active,
    input:checked {
        border: none;
        border-bottom: 2px solid rgb(0, 137, 250);
        box-shadow: 10px 10px 5px rgb(0, 137, 250);
        outline: none;
    }

textarea {
    width: 700px;
    overflow: auto;
    outline: none;
    resize: vertical;
    border: 2px solid rgb(0, 137, 250);
    padding: 10px 15px;
    margin-top: 20px;
}

input,
textarea,
#topics {
    font-size: 20px;
}

label {
    color: #000;
}

.btn {
    padding: 10px 20px;
    background: rgb(0, 137, 250);
    border-radius: 40px;
    transition: 0.3s;
    font-size: 20px;
    text-decoration: none;
}

    .btn:hover {
        padding: 10px 40px;
        color: #fff;
    }

select {
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(0, 137, 250);
}

    select option {
        margin-top: 20px;
    }

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 100px;
}

    .footer .container {
        max-width: 1300px;
        margin: auto;
        padding-right: 25px;
        padding-left: 25px;
    }

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /* transition: 2s all; */
}

.footer {
    color: #8a8a8a
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

    .footer-col-2 img {
        width: 100%;
    }

.footer-col-1 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

    .app-logo img {
        width: 140px;
    }

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
