
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/Layout.css" rel='stylesheet' type='text/css' />
</head>
<body>
    @Html.Partial("~/Views/Shared/header.cshtml")

    @RenderBody()

    @Html.Partial("~/Views/Shared/footer.cshtml")

</body>
</html>
