
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLDK TRIP | Liên hệ</title>
    <link rel="stylesheet" href="~/Content/css/about.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fontawesome-free-5.14.0-web/css/all.css">

</head>

<body>
    <section>
        <div class="container">
            <a href="~/Home/Home" id="home">Trang chủ</a>
            <h1 class="heading">Thành viên </h1>
            <div class="card-wrapper">
                <div class="card">
                    <img src="~/Content/image/meeteam.jpg" alt="card background" class="card-img">
                    <img src="~/Content/image/avt1.jpg" alt="profile image" class="profile-img">
                    <h1>Lê Linh</h1>
                    <p class="job -title"></p>
                    <p class="about">
                        Đường còn dài, xăng còn rẻ, còn tuổi trẻ, mình còn đi.
                    </p>
                    <a href="#" class="btn"> Liên hệ</a>
                    <ul class="social-media">

                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-square"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="card">
                    <img src="~/Content/image/meeteam.jpg" alt="card background" class="card-img">
                    <img src="~/Content/image/avt.jpg" alt="profile image" class="profile-img">
                    <h1>Bùi Dương</h1>
                    <p class="about">
                        Hãy sống dưới ánh mặt trời, bơi trên đại dương và thưởng thức không khí của thiên nhiên hoang dã.
                    </p>
                    <a href="#" class="btn"> Liên hệ</a>
                    <ul class="social-media">

                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-square"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="card">
                    <img src="~/Content/image/meeteam.jpg" alt="card background" class="card-img">
                    <img src="~/Content/image/avt2.jpg" alt="profile image" class="profile-img">
                    <h1>Kim Khánh</h1>
                    <p class="about">
                        Cuộc sống vốn dĩ vẫn luôn công bằng với tất cả mọi người, bạn sẽ học được điều đó khi thấy một người lạ ở một vùng đất lạ.
                    </p>
                    <a href="#" class="btn"> Liên hệ</a>
                    <ul class="social-media">

                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-square"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="card">
                    <img src="~/Content/image/meeteam.jpg" alt="card background" class="card-img">
                    <img src="~/Content/image/avt3.jpeg" alt="profile image" class="profile-img">
                    <h1>Anh Dũng</h1>
                    <p class="about">
                        Con người tôi được tạo thành ngoài 70% là nước ra thì phần còn lại là từ những chuyến đi
                    </p>
                    <a href="#" class="btn"> Liên hệ</a>
                    <ul class="social-media">

                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-square"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Ứng dụng</h3>
                    <p>Download </p>
                    <div class="app-logo">
                        <img src="~/Content/image/play-store.png" alt="">
                        <img src="~/Content/image/app-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="~/Content/image/logo.png" alt="">
                </div>
                <div class="footer-col-3">
                    <h3>Link</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Theo dõi</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twwiter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</body>

</html>