
@{
    Layout = null;
}

    <div class="container1">
        <div class="box1" onclick="window.open('/Post/ListPost?idChuDe=CD02','_self')">
            <div class="topic">
                <h3>Hà Nội</h3>
            </div>
        </div>
        <div class="box1" onclick="window.open('/Post/ListPost?idChuDe=CD07','_self')">
            <div class="topic">
                <h3>Thành phố Hồ Chí Minh</h3>
            </div>
        </div>
        <div class="box1" onclick="window.open('/Post/ListPost?idChuDe=CD04','_self')">
            <div class="topic">
                <h3>Huế - Đà Nẵng - Quảng Nam</h3>
            </div>
        </div>
        <div class="box1" onclick="window.open('/Post/ListPost?idChuDe=CD08','_self')">
            <div class="topic">
                <h3>Miền Tây</h3>

            </div>
        </div>
        <div class="box1" onclick="window.open('/Post/ListPost?idChuDe=CD01','_self')">
            <div class="topic">
                <h3>Sapa</h3>

            </div>
        </div>
        <div class="box1" onclick="window.open('/Post/ListPost?idChuDe=CD06','_self')">
            <div class="topic">
                <h3>Đà Lạt</h3>

            </div>
        </div>
        <div class="box1" onclick="window.open('/Post/ListPost?idChuDe=CD05','_self')">
            <div class="topic">
                <h3>Nha Trang</h3>

            </div>
        </div>
        <div class="box1" onclick="window.open('/Post/ListPost?idChuDe=CD09','_self')">
            <div class="topic">
                <h3>Phú Quốc</h3>

            </div>
        </div>
        <div class="box1" onclick="window.open('/Post/ListPost?idChuDe=CD00','_self')">
            <div class="topic">
                <h3>Điểm du lịch khác</h3>

            </div>
        </div>
        <div class="box1" onclick="window.open('/Post/ListPost?idChuDe=CD03','_self')">
            <div class="topic">
                <h3>Ninh Bình</h3>

            </div>
        </div>
    </div>